@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,400&display=swap");

.date{
    width: 850px;
    margin-left: 530px;
    margin-top: 40px;
    font-family: 'Roboto', 'Helvetica', 'Sans-serif';
}
.form{
    margin-top: 70px;
    margin-left: 600px;
    width: 700px;
    font-family: 'Roboto', 'Helvetica', 'Sans-serif';
}
