<div class="date">
  <h2>GRID FORM</h2>
  <dx-data-grid [dataSource]="dataSource" [showBorders]="true">
    <dxo-paging [enabled]="false"></dxo-paging>
    <dxi-column dataField="prefixo" caption="Titulo" [width]="70"></dxi-column>
    <dxi-column dataField="nome"></dxi-column>
    <dxi-column dataField="sobrenome"></dxi-column>
    <dxi-column dataField="data_de_nascimento" dataType="date"></dxi-column>
    <dxi-column dataField="cargo" [width]="170"></dxi-column>
    <dxi-column dataField="data_de_contratação" dataType="date"></dxi-column>
    <dxi-column dataField="StateID" caption="estado" [width]="125">
      <dxo-lookup [dataSource]="States" displayExpr="Name" valueExpr="ID">
      </dxo-lookup>
    </dxi-column>

    <dxi-column dataField="Address" [visible]="false"> </dxi-column>
    <dxi-column dataField="Notes" [visible]="false"> </dxi-column>
  </dx-data-grid>
</div>

<div class="form">
  <h2>Form to dataGrid</h2>

  <form (submit)="adicionar($event)">
    <dx-form [formData]="formData">
      <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
        <dxi-item dataField="prefixo" caption="Título" [width]="70"></dxi-item>
        <dxi-item dataField="nome"
          ><dxi-validation-rule type="required"> </dxi-validation-rule
        ></dxi-item>

        <dxi-item dataField="sobrenome"
          ><dxi-validation-rule type="required"> </dxi-validation-rule
        ></dxi-item>

        <dxi-item
          dataField="data_de_nascimento"
          showEditorAlways="true"
          editorType="dxDateBox"
          ><dxi-validation-rule type="required"> </dxi-validation-rule
        ></dxi-item>

        <dxi-item dataField="cargo"
          ><dxi-validation-rule type="required"> </dxi-validation-rule
        ></dxi-item>

        <dxi-item
          dataField="data_de_contratação"
          showEditorAlways="true"
          editorType="dxDateBox"
          showEditorAlways="true"
        >
        </dxi-item>

        <dxi-item dataField="Address"></dxi-item>

        <dxi-item >
          <dx-select-box
            [dataSource]="States"
            [value]="1"
            displayExpr="States"


            >
          </dx-select-box>
        </dxi-item>

        <dxi-item
          dataField="Notes"
          editorType="dxTextArea"
          [colSpan]="2"
          [editorOptions]="notesEditorOptions">
        </dxi-item>

        <dxi-item
          itemType="button"
          dataSource="dataSource"
          [buttonOptions]="{
            text: 'enviar',
            useSubmitBehavior: true,
            type: 'success'}">
        </dxi-item>
      </dxi-item>
    </dx-form>


  </form>
</div>

<!--dx-select-box
      [dataSource]="States"
      [value]="1"
      displayExpr="Name"
      valueExpr="ID"
    >
    </dx-select-box-->
